{{ define "title" }}
    Device Pool
{{ end }}
{{ define "content" }}
    <script>
        function notify(msg) {
            var notification = document.querySelector('.mdl-js-snackbar');
            notification.MaterialSnackbar.showSnackbar(
                {
                    message: msg
                }
            )
        }

        function bootupDevice(deviceID) {
            $.ajax({
                type: "POST",
                url: "device/bootup",
                // The key needs to match your method's input parameter (case-sensitive).
                data: JSON.stringify({
                    device_id: deviceID,
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    notify("device booted up")
                },
                error: function (request, status, error) {
                    notify("failed to bootup device: " + error)
                },
                failure: function (error) {
                    notify("failed to bootup device: " + error)
                }
            });
        }

        function shutdownDevice(deviceID) {
            $.ajax({
                type: "POST",
                url: "device/shutdown",
                // The key needs to match your method's input parameter (case-sensitive).
                data: JSON.stringify({
                    device_id: deviceID,
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    notify("device shutdown")
                },
                error: function (request, status, error) {
                    notify("failed to shutdown device: " + error)
                },
                failure: function (error) {
                    notify("failed to shutdown device: " + error)
                }
            });
        }
    </script>
    {{ $devices := .devices }}
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Identifier</th>
            <th class="mdl-data-table__cell--non-numeric">Operation System</th>
            <th class="mdl-data-table__cell--non-numeric">Version</th>
            <th class="mdl-data-table__cell--non-numeric">Supported Architectures</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{ range $device := $devices }}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ $device.Name }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ $device.Identifier }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ $device.OperationSystem }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ $device.OperationSystemVersion }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ $device.SupportedArchitectures }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ $device.Status }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ if eq $device.Status "booted" }}
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="shutdownDevice({{ $device.Identifier }})">
                            Shutdown
                        </button>
                    {{ else }}
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="bootupDevice({{ $device.Identifier }})">
                            Bootup
                        </button>
                    {{ end }}
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
{{ end }}